[project]
name = "presentation-coach"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "vision-agents[gemini,getstream,openai,ultralytics]>=0.2.1",
]
